body {
  background-color: white;
  color: black;
  font-size: 14px;
  line-height: 1;
}

nav {
  background-color: rgba(0,0,0,0.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

figcaption {
  font-size: 8px;
  padding-bottom: 20px;
}

h1 {
  font-size: 3em;
  font-weight: 800;
  padding-bottom: 20px;
}

h3 {
  font-size: 2em;
  font-weight: 400;
  padding-bottom: 20px;
}

p {
  font-weight: 200;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left .right {
  float: left;
}

.right {
  float: right;
}
